<p>Thank you so much for signing this petition!

</p>

        
        <div id="deleted"></div>

       <div id="link">
        <a id="signers" href="/signers/">Click here to see who has signed yet with you</a><br>
        <a id="edit" href="/edit/">Click here to edit your profile</a>
        

        <form method='POST'>
        <button id="delete-button">Click here to delete your signature </button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>    

</div>