{{#if error}}
<h3>{{error}}</h3>
{{/if}}

<div>
<h1>Welcome back!!!</h1>
    

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
         <div class>
            <input type='text' id='email' name='email' placeholder='E-Mail' style="color: #fbecec;">
            <input type='text' id='password' name='password' placeholder='Password' style="color: #fbecec;" autocomplete="off">
        </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button">Sign up!</submit>
</form>