{{#if error}}
<h3>{{error}}</h3>
{{/if}}

<div>
<h1>Welcome back!!!</h1>
    

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form id="login-flex" method='POST'>
        
            <input type='text' id = "name" name='email' placeholder='E-Mail' style = "width: 15em;">
            <input type='text' id = "password" name='password' placeholder='Password' style = "width: 15em;" autocomplete="off">
        
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button" "width: 15em;">Sign up!</submit>
        
</form>