{{#if error}}
<h3>{{error}}</h3>
{{/if}}

<div>
<h1>Yay! And now the fun stuff:</h1>
        <p>
        Sign here if you think some of the programmers working and 
        learning here should spend a fair amount of their time on programming 
        those drones to deliver some icecream, or some cookies...</p>

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

                <form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
            <canvas id="canvas">
            <input name='signature' id='signature' type="hidden">
            </canvas>
            <p id="sign">Please sign here</p>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button">Submit</button>
        </form>
        </div>