{{#if error}}
<h3>{{error}}</h3>
{{/if}}

<div>
<h1>Yay! Thank you!</h1>
        
        <p>Now please tell us just a little bit more about yourself.</p>

<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
         <div class>
            <input type='text' id='age' name='age' placeholder='Age' style="color: #fbecec;">
         <input type='text' id='city' name='city' placeholder='Your Office' style="color: #fbecec;">
        <input type='text' id='url' name='url' placeholder='Homepage' style="color: #fbecec;">
        </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button">Continue!</submit>
</form>