{{#if error}}
<h3>{{error}}</h3>
{{/if}}


<h1>Welcome!</h1>
<p><a href="/login">Login 💭</a> </p>
        <h2>This goes out to all the people working at Ullsteinhaus:</h2>
        <p id="welcomeText">Haven't you had those moments in the last weeks where you sat there freezing and thinking: 
        well, some cookies and a warm cup of tea would be just what I need right now!<br>
        Especially in those times of Corona, where it is best not to get too close to each other. <br>
        <br>
        Well - in this building there are people working who actually know how to program drones. 
        And who are experimenting with them!<br>
        <br>
        Sign here if you think some of the programmers working and 
        learning here should spend a fair amount of their time on programming 
        those drones to deliver whatever those small wishes are that would make you smile right now...<br>
        Think about how much more amazing being in this building could be! 
        And how much fun for the students of "Spiced Academy"!</p>


<img id ="unsplash" src="/unsplash.jpg" alt="Fernsehturm mit Dronen">

<form id="register" method='POST'>
         <div class = "names">
            <input type='text' id="first" name='first' placeholder='First Name' style = "width: 15em;" autocomplete="off">
            <input type='text' id='last' name='last' placeholder='Last Name' style = "width: 15em;" autocomplete="off">
            <input type='text' id='email' name='email' placeholder='E-Mail' style = "width: 15em;" autocomplete="off">
            <input type='password' id='password' name='password' placeholder='Password' style = "width: 15em;" autocomplete="off">
        </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button">Sign up!</submit>
</form>
       