<p>
Dearest coders who know how to programme drones.
If you want to become even more of a hero than you already
are, you would make us entirely happy if you told your drones 
to send us stuff.
We cannot even begin to tell you how grateful we would be.
</p>

{{#signers}}
<h3>{{firstname}} {{lastname}}</h3>
{{/signers}}