<p>Thank you so much for signing this petition!

</p>

        
        <img class="grayscale" src={{sign}} alt="Description of my picture" />
        <!--list of signers -->
        <a href="/signers/">Click here to see who has signed yet with you</a>
        