
<p>
Dearest coders who know how to programme drones. <br>
If you want to become even more of a hero than you already
are, <br>
you would make us entirely happy if you told your drones 
to send us stuff. <br>
We cannot even begin to tell you how grateful we would be.
</p>
<img src="/hero.jpg">

<p>Yours sincerely...</p>
<div class="signers">{{#rows}}
    
<h3>{{first}} {{last}}</h3>
{{/rows}}
</div>
