/*https://colorhunt.co/palette/201777*/
/*lila #440047 */
/*pink #E11d74 */
/*grün #91d18b  */
/*hell #fbecec   */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
    background-color: #fbecec;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, cursive;
    color: #440047;
    text-align: center;
    padding: 20px;
}

h1,
h2 {
    text-shadow: 0 0 1px blacK;
}

p {
    font-size: 22px;
}

#welcomeText {
    text-align: justify;
}

/*
.names {
    display: flex;
    width: 500%;
    margin-left: 50%;
    text-align: center;
}
*/

#lastname,
#firstname {
    flex-direction: row;
    width: 400px;
}

input,
button {
    background-color: #440047;
    color: #fbecec;
    /*
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    */
}

#canvas {
    border: 3px dotted black;
    width: 500px;
    height: 200px;
}

#petition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-button {
    width: 200px;
}

#unsplash {
    box-shadow: 0 0 15px blacK;
}

/* login
.yellow {
align-self: flex-end;
}
*/

.signature {
    border: 3px solid #440047;
    padding: 30px;
}

#deleted {
    border: 3px solid #440047;
    width: 350px;
    margin-left: 40%;
    height: 200px;
}

.link {
    padding: 25px;
    font-size: 50px;
}

.signers {
    border: 3px solid #440047;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

/*
.edit {
    padding: 200px;
    margin: 50px;
}
*/

#link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

#delete-button {
    background-color: #fbecec;
    color: #440047;
    text-decoration: underline;
    font-size: 1em;
    border: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fbecec;
    opacity: 1; /* Firefox */
}

#back {
    font-size: 22px;
    margin: 10px;
}

table {
    margin: 0 auto;
}
